<header class="masthead mb-auto bg-dark w-100">

    <h3 class="masthead-brand text-light">ISIC</h3>
    <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" [routerLink]="[ '/tutoriales' ]" routerLinkActive="active">Tutoriales</a>
        <a class="nav-link text-white" [routerLink]="'/estudiantes'">Estudiantes</a>
        <a class="nav-link" [routerLink]="'/add-estudiante'">Agregar</a>
        <a class="nav-link" [routerLink]="'/reservar/laboratorio'">reservar/laboratorio</a>
    </nav>

</header>