<header class="masthead mb-auto bg-dark w-100">

    <h3 class="masthead-brand text-light">ISIC</h3>
    <nav class="nav nav-masthead justify-content-center">
        <!-- <a class="nav-link active" [routerLink]="[ '/tutoriales' ]" routerLinkActive="active">Demo</a> -->
        <a class="nav-link" [routerLink]="'/estudiantes'">Estudiantes</a>
        <a class="nav-link" [routerLink]="'/add-estudiante'">Agregar Estudiante</a>
        <a class="nav-link text-white" [routerLink]="'/reservar/laboratorio'">Reservar</a>
        <a class="nav-link text-white" [routerLink]="'/reservas'">Reservas</a>
        <a class="nav-link text-white" [routerLink]="'/a'">A</a>
        <a class="nav-link text-white" [routerLink]="'/b'">B</a>

    </nav>

</header>