<div class="cover-container d-flex w-100 h-100  mx-auto flex-column">
    <app-navbar></app-navbar>


    <main class="cover">
        <div class="container">
            <div class="row">
                <router-outlet></router-outlet>
            </div>
        </div>
    </main>

    <app-footer></app-footer>
</div>

<!-- <router-outlet></router-outlet>
<p><a [routerLink]="[ '/tutoriales' ]" routerLinkActive="active">tutoriales</a></p>

<a type="button" class="btn btn-primary mr-3" [routerLink]="'/estudiantes'">
    Estudiantes
</a>
<br />
<a type="button" class="btn btn-primary" [routerLink]="'/add-estudiante'">
    Add Estudiante
</a> -->